body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
}

/*Global */
container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

/* Makes nav menu vertical, no padding/margin */
ul{
  margin:0;
  padding:0;
}

/* Button */
.button_1{
  height:30px;
  background:#162A40;
  border:0;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff
}
/* Header */
header{
  background:#4B9BEB;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#0D3482 3px solid;
}

/* Makes links in header white, all upcase */
header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

/*Moves nav menu right and down */
header nav{
  float:right;
  margin-top:10px;
}

/* Highlights text + current link */
header .highlight, header .current a{
  color:#54E8E8;
  font-weight:bold;
}

/*Hover turns link white */
header a:hover{
  color:#ffffff;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../media/book-worm.png') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:10px;
  font-size: 55px;
  margin-bottom:10px;
}

newsletter{
  padding:15px;
  color:#ffffff;
  background:#4B9BEB;
}

newsletter form {
  float:right;
}

newsletter input(type="mail")

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Footer */

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color: #94ACE0;
  text-align: center;
}
