body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
}

/*Global */
container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

/* Makes nav menu vertical, no padding/margin */
ul{
  margin:0;
  padding:0;
}


/* Header */
header{
  background:#4B9BEB;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#0D3482 3px solid;
}

/* Makes links in header white, all upcase */
header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

/*Moves nav menu right and down */
header nav{
  float:right;
  margin-top:10px;
}

/* Highlights text + current link */
header .highlight, header .current a{
  color:#54E8E8;
  font-weight:bold;
}
