/* This is a sample style sheet */

/* Let's start with some global changes */
html {
  background: url(https://hellonicoler.github.io/media/anton-strogonoff-TcCjnohtRnA-unsplash.jpg) no-repeat center fixed;
  background-size: cover;
}

/* body */
body {
  color: #4247EB;
  font-family: fantasy;
  margin: 2em;
  padding: 0 3em 3em 3em;
}

h1, h2, h6 {
  color: #ffffff;
  margin: 2em;
  padding: 0 2em 2em 2em;
  font-family: cursive;
}

img {
  
}
